
extends pblayout

block stylesheets

block content
	h1 Calculate
	
	if errors
		h4 Error occurred
		ul
		each error in errors
			li= error

	h1 The request body
	h4 Request body
	p= reqbody
	h4 Request file
	p= reqfile
	h4 Other
	p= other

	form(method='POST', action='/PiggyBack/calculate', type='multipart/form-data')
		input(type="text", name="title")
		input(type="file" name="testfile")
		button(type='submit' value='Upload') Submit
