
extends layout

block stylesheets

block content
	p 107.170.198.205
	h1 Welcome!
	h2 Unfortunately my website is currently under development
	a(href='https://www.linkedin.com/in/noahthomas0') LinkedIn Account
	hr
	//- h1 Not your average developer
	//- div#about
	//- 	h3 Academic
	//- 	h3 Athletic
	//- 	h3 About
	//- div#projects
	//- 	h3 CAD
	//- 	h3 Software Development
	//- 	h3 App Development
	//- div#Hobbies
	//- 	h3 Hockey
	//- 	h3 Parkour
	//- 	h3 Other Hobbies