
extends layout

block stylesheets

block content
	p 107.170.198.205
	h1 Welcome!
	h2 Unfortunately my website is currently under development
	p Contact information:
	a(href='https://www.linkedin.com/in/noahthomas0') LinkedIn Account
	hr