
doctype html
html(lang='en')
	head
		title #{pageTitle}
		link(rel='stylesheet', href='../assets/css/main.css')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css')
		block stylesheets

	body
		block content
	