
doctype html
html(lang='en')
	head
		title #{pageTitle}
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='../assets/css/general.css')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css')
		block stylesheets

	body
		header
			img(src='../assets/images/piggybacklogo.png')
			nav
				a(href='/PiggyBack/signin') Sign in
				a(href='/PiggyBack/signup') Sign up
				a(href='/PiggyBack/calculate') Calculate
			hr
		block content
	