
body {
	background-color: rgb(35, 35, 35);
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 1em;
	color: #aaa;
}

header {
	padding: 0.5em;
}
a#img {
	padding: 0;
}
img {
	height: 45px; 
	vertical-align: middle;
}
nav {
	display: inline-block;
	text-align: right;
	width: calc(100% - 212px);
}
nav a {
	color: rgb(237, 45, 135);
	display: inline-block;
	padding: 0.25em 1em;
	text-decoration: none;
}

section {
	width: calc(100% - 3em);
	padding: 1em;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(237, 45, 135, 0.5);
	margin: 1em 0.5em;
}

div {
	vertical-align: top;
	display: inline-block;
	padding: 1em;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(237, 45, 135, 0.5);
}
div#form {
	width: calc(33.33% - 3em);
	min-width: 15em;
	margin: 0.5em;
}
div#smalldiv {
	margin: 0.5em 0em;
	width: calc(100% - 2em);
}

p {
	margin: 0.25em;
}
input {
	width: calc(100% - 2em);
	margin: 0.25em;
}

table {
	color: blue;
	border-collapse: collapse;
	border-width: 2px;
	border-color: white;
}
th {
	border-color: white;
	border-width: 2px;
}


h1 {
	color:#ddd;
	margin: 0.5em 0;
}
h2 {
	color: #ccc;
	margin: 0.5em 0;
}
h3 {
	color: #bbb;
	margin: 0.5em 0;
}
h4 {
	color: #bbb;
	margin: 0.5em 0;
}
