
body {
	text-align: center;
}

input {
	display: block;
	margin: 1em auto;
	width: 25%;
	min-width: 20em;
	text-align: center;
}

button {
	color: white;
	background-color: rgb(237, 45, 135);
	border-radius: 4px;
	width: 20%;
	min-width: 15em;
}


