html {
	background-color: black;
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
	background-position: left;
}

h1 {
	text-align: center;
	color: pink;
	font-size: 3em;
}