
body {
	color: #aaa;
}

section {
	width: 100%;
	border: 1px solid red;
}

div {
	vertical-align: top;
	display: inline-block;
	width: calc(25% - 2px - 2.5em);
	border: 1px solid blue;
	min-width: 15em;
	padding: 1em;
}

p {
	margin: 0.25em;
}

input {
	width: calc(100% - 2em);
	margin: 0.25em;
}
