
body {
	color: #aaa;
}

section {
	width: 100%;
	border: 1px solid red;
}
div {
	display: inline-block;
	width: calc(25% - 4px);
	border: 1px solid blue;
}

p {
	width: calc(20%);
	margin: 0.25em;
}

input {
	width: calc(20%);
	margin: 0.25em;
}
