
body {
	color: #aaa;
}

section {
	width: 100%;
	border: 1px solid red;
}
div {
	display: inline-block;
	width: calc(25% - 2px);
	border: 1px solid blue;
	min-width: 20em;
	padding: 1em;
}

p {
	margin: 0.25em;
}

input {
	width: calc(100% - 2em);
	margin: 0.25em;
}
